<div class="text-center">
  <h1>
    Welcome
  </h1>
  <img width="300" alt="Logo" src="../assets/images/logo.png">
</div>
<div class="text-center" style="margin-top: 20px;">
    <p>This web app allows employees to rate and review meeting rooms at their work location.</p>
    <p>It provides valuable insight into which rooms to avoid and which ones you definitely want to book!</p>
</div>
<div class="text-center" style="margin-top: 20px;">
  <a routerLink="/reviews">Check Out the Reviews</a>
</div>
